center {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.middleCard {
  position: fixed;
  top: 20%;
  left: 37.5%;
  width: 25%;
  height: 40%;
}
.textborder {
  border: 2px solid rgba(230, 230, 230, 0.75);
  border-radius: 40px;
}
.btn-primary {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.btn-success {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(38, 129, 38, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(38, 129, 38, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.modal-content {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
}
